<phpunit
	bootstrap="phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory suffix="Test.php">./phpunit/</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>remote</group>
		</exclude>
	</groups>
</phpunit>
